@model MonPremierProjetASPdotNetCore.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreVendus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreVendus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Allergenes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Allergenes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grammage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grammage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Litrage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Litrage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DansCarte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DansCarte)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
